@page

<h1 class="mb-12 text-xl">Welcome, dear User</h1>

<p class="mb-8">
    Please find this to be your nice fabulous shop.
    Head over to the dashboard to find your authenticated
    data. Please note, that the order information is fetched
    from our legacy system which is in the cloud now!
</p>

<p>
    <a class="inline-block py-2 px-4 bg-yellow-500 rounded" asp-page="/Dashboard">Dashboard</a>
</p>
